---
import Layout from "../layouts/BlogPost.astro";
---

<!-- TODO: replace hero image; update template? use markdown? -->
<Layout
	title="About Me"
	description="TODO:"
	pubDate={new Date("November 24 2025")}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>TODO:</p>
</Layout>
